* {
	margin:0;
	padding:0;
}

#header{
	height: 80px;
	background-color: white;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #aaaaaa;
	z-index: 10;
}

.menu{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: black;
	float: right;
	margin-top: 15px;
	font-weight: 300;
}

.menu ul li{
	float: left;
	list-style: none;
	text-transform: uppercase;
}

.menu ul li a{
	text-decoration: none;
	display: block;
	padding: 20px;
	color: black;
}

.menu ul li a:hover{
	color: #e17329;
}

.direccion{
	font-family: 'Open Sans', sans-serif;
	float: right;
	height: 0px;
	background-color: #e17329;
	padding: 20px 50px 60px 50px;
	color: white;
	width: 200px;
	font-size: 12px;
	margin-right: 7%;
	text-align: center;
	margin-left: 30px;
	font-weight: 300;
	line-height: 20px;
}

.logo{
	margin: 5px 10px 5px 100px;
	float: left;
}

.flexslider{
	position: relative;
	top: 80px;
	border: 0px !important;
}

#big_content{
	width: 100%;
	margin-top: 80px;
	font-family: 'Open Sans', sans-serif;
}

#big_content .left{
	color: white;
	background-color: #e17329;
	height: 200px;
	float: left;
	width: 40%;
	padding: 40px 20px 20px 100px;
}

#big_content p{
	margin-top: 10px;
	font-style: italic;
	font-size: 12px;
	line-height: 20px;
}

#big_content .right p {
	margin-top: 20px;
}

#big_content .left .title{
	font-size: 60px;
	font-weight: bold;
	text-transform: uppercase;
}

#big_content .right{
	color: #68717a;
	height: 200px;
	float: right;
	width: 40%;
	padding: 40px 20px 20px 100px;
}

#big_content .right .title{
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
}

#services{
	background-color: white;
	height: 500px;
	width: 100%;
}

#services .wrap{
	width: 80%;
	border: 0px solid black;
	clear: both;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	padding-top: 40px;
}

#services .wrap .service{
	width: 100%;
	height: auto;
	clear: both;
}

#services .wrap .service .left{
	float: left;
	border-top: 0px solid grey;
	border-bottom: 1px solid #DEDEDE;
	width: 50%;
	padding: 25px 15px 25px 0px;
	color: #68717a;
	font-family: 'Open Sans', sans-serif;
	min-height: 112px;
}

#services .wrap .service .left p{
	font-size: 12px;
	padding: 10px;
	line-height: 22px;
	font-style: italic;
}

#services .wrap .service .left .title{
	font-family: 'Open Sans', sans-serif;
	color: #68717a;
	font-size: 40px;
	text-transform: uppercase;
	font-weight: bold;
}

#services .wrap .service .right{
	float: right;
	height: 112px;
}

#footer{
	border-top: 1px solid #DEDEDE;
	margin-top: 320px;
	clear: both;
	width: 100%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#footer .wrapper{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

#footer .left{
	float: left;
	color: #68717a;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	padding-top: 40px;
}

#footer .right{
	background-color: #e17329;
	float: right;
	width: 200px;
}

#footer .right img{
	margin: 30px;
}