* {
	margin:0;
	padding:0;
}

#header{
	height: 80px;
	background-color: white;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #aaaaaa;
	z-index: 10;
}

#content{
	padding-top: 80px;
	padding-bottom: 100px;
	min-height: 350px;
}

.menu{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: black;
	float: right;
	margin-top: 15px;
	font-weight: 300;
}

.menu ul li{
	float: left;
	list-style: none;
	text-transform: uppercase;
}

.menu ul li a{
	text-decoration: none;
	display: block;
	padding: 20px;
	color: black;
}

.menu ul li a:hover{
	color: #e17329;
}

.direccion{
	font-family: 'Open Sans', sans-serif;
	float: right;
	height: 20px;
	background-color: #e17329;
	padding: 0px 50px 60px 50px;
	color: white;
	width: 200px;
	font-size: 12px;
	margin-right: 7%;
	text-align: center;
	margin-left: 30px;
	font-weight: 300;
	line-height: 20px;
}

.direccion a{
	margin-top: 30px;
	text-decoration: none;
	margin-left: 5px;
	color: white;
	font-size: 13px;
	text-transform: uppercase;
}

.direccion a:hover{
	color: #AAAAAA;
}

.direccion span {
	display: block;
	padding-top: 10px;
}

.logo{
	margin: 5px 10px 5px 100px;
	float: left;
}

.flexslider{
	position: relative;
	top: 0px;
	border: 0px !important;
}

#big_content{
	width: 100%;
	margin-top: 80px;
	font-family: 'Open Sans', sans-serif;
}

#big_content .left{
	color: white;
	background-color: #e17329;
	height: 200px;
	float: left;
	width: 40%;
	padding: 40px 20px 20px 100px;
}

#big_content p{
	margin-top: 10px;
	font-style: italic;
	font-size: 12px;
	line-height: 20px;
}

#big_content .right p {
	margin-top: 20px;
}

#big_content .left .title{
	font-size: 60px;
	font-weight: bold;
	text-transform: uppercase;
}

#big_content .right{
	color: #68717a;
	height: 200px;
	float: right;
	width: 40%;
	padding: 40px 20px 20px 100px;
}

#big_content .right .title{
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
}

.chicle{
	width: 100%;
	clear: both;
}

#services{
	background-color: white;
	height: 500px;
	width: 100%;
}

#services .wrap{
	width: 80%;
	border: 0px solid black;
	clear: both;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	padding-top: 40px;
}

#services .wrap .service{
	width: 100%;
	height: auto;
	clear: both;
}

#services .wrap .service .left{
	float: left;
	border-top: 0px solid grey;
	border-bottom: 1px solid #DEDEDE;
	width: 50%;
	padding: 25px 15px 25px 0px;
	color: #68717a;
	font-family: 'Open Sans', sans-serif;
	min-height: 112px;
}

#services .wrap .service .left p{
	font-size: 12px;
	padding: 10px;
	line-height: 22px;
	font-style: italic;
}

#services .wrap .service .left .title{
	font-family: 'Open Sans', sans-serif;
	color: #68717a;
	font-size: 40px;
	text-transform: uppercase;
	font-weight: bold;
}

#services .wrap .service .right{
	float: right;
	height: 112px;
}

#footer{
	border-top: 1px solid #DEDEDE;
	margin-top: 0px;
	clear: both;
	width: 100%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#footer .wrapper{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

#footer .left{
	float: left;
	color: #68717a;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	padding-top: 40px;
}

#footer .right{
	background-color: #e17329;
	float: right;
	width: 200px;
}

#footer .right img{
	margin: 30px;
}

.add_user, .login{
	font-family: 'Open Sans', sans-serif;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	top: 10vh;
	background-color: #e17329;
	color: white;
	padding: 40px;
	font-size: 13px;
}

.add_user{
	font-family: 'Open Sans', sans-serif;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	top: 10vh;
	background-color: #e17329;
	color: white;
	padding: 40px;
	font-size: 13px;
}

.add_user .form{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 420px;
}

.add_user input[type="text"], .add_user input[type="email"], .add_user input[type="tel"], .add_user input[type="password"] {
  display: block;
  padding: 2px;
  padding-left: 10px;
  margin: 3px;
  margin-bottom: 10px;
  box-shadow: inset #BBB 1px 1px 1px;
  width: 400px;
  height: 30px;
  font-size: 14px;
  border: 0px solid white;
}

.login input[type="text"], .login input[type="email"], .login  input[type="tel"], .login  input[type="password"] {
	box-shadow: inset #BBB 1px 1px 1px;
	border: 0px solid white;
  display: block;
  padding: 2px;
  margin: 3px;
  width: 200px;
  font-size: 14px;
  width: 250px;
  height: 30px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.add_user h1, .login h1{
	padding-bottom: 20px;
}

.add_user table td, .login table td{
	width: 100px;
	padding: 0px;
	padding-top: 5px;
}

.dashboard, .pedidos{
	font-family: 'Open Sans', sans-serif;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	min-height: 250px;
	height: auto;
	top: 10vh;
	background-color: #e17329;
	color: white;
	padding: 40px;
	font-size: 13px;
	box-shadow: #BBB 7px 5px 5px;
}

.dashboard .info, .pedidos .info{
	margin-top: 20px;
	float: left;
}

.dashboard .info table td, .pedidos .info table td{
	padding: 5px;
}

.dashboard .info a, .pedidos .info a{
	color: white;
}

.dashboard .info a:hover{
	
}

h3 a{
	color: white;
	text-decoration: none;
	position: relative;
	top: -30px;
}

h3 a:hover{
	color: white;
	text-decoration: underline;
	position: relative;
	top: -30px;
}

.pedidos table{
	width: 500px;
	border-bottom: 1px solid white;
	margin-bottom: 0px;
	padding-bottom: 30px;
}

.search{
	float: left;
	margin-top: 30px;
	margin-bottom: 30px;
}